<footer>
  <div class="tp-footer-area tp-footer-style-2" data-bg-color="footer-bg-white">
    <div class="tp-footer-top pt-95 pb-40">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6">
            <div class="tp-footer-widget footer-col-1 mb-50">
              <div class="tp-footer-widget-content">
                <div class="tp-footer-logo">
                  <a href="/">
                    <img
                      src="{{ settings.logo | img_url: 'master' }}"
                      alt="logo"
                      class="img-fluid"
                      width="165px"
                      height="45px"
                    >
                  </a>
                </div>
                <p class="tp-footer-desc">{{ settings.footer_tagline }}</p>
                <div class="tp-footer-social">
                  <a href="{{ settings.fb_link }}" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="{{ settings.tw_link }}" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                  <a href="{{ settings.in_link }}" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="tp-footer-widget footer-col-2 mb-50">
              <h4 class="tp-footer-widget-title">My Account</h4>
              <div class="tp-footer-widget-content">
                <ul>
                  {% for link in linklists['my-acccount'].links %}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <div class="tp-footer-widget footer-col-3 mb-50">
              <h4 class="tp-footer-widget-title">Infomation</h4>
              <div class="tp-footer-widget-content">
                <ul>
                  {% for link in linklists['new-footer-menu-information'].links %}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <div class="tp-footer-widget footer-col-4 mb-50">
              <h4 class="tp-footer-widget-title">{{ settings.talk }}</h4>
              <div class="tp-footer-widget-content">
                <div class="tp-footer-talk mb-20">
                  <span>{{ settings.question }}</span>
                  <h4>
                    <a href="tel:{{ settings.phone }}">{{ settings.phone }}</a>
                  </h4>
                </div>
                <div class="tp-footer-contact">
                  <div class="tp-footer-contact-item d-flex align-items-start">
                    <div class="tp-footer-contact-icon">
                      <span>
                        <i class="fa-regular fa-envelope"></i>
                      </span>
                    </div>
                    <div class="tp-footer-contact-content">
                      <p>
                        <a href="">{{ settings.email }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tp-footer-bottom">
      <div class="container">
        <div class="tp-footer-bottom-wrapper">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="tp-footer-copyright text-center">
                <p>
                  {{ settings.copy }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"
  referrerpolicy="no-referrer"
></script>
<script src="{{ 'meanmenu.js' | asset_url }}" async></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.js"
  referrerpolicy="no-referrer"
  async
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"
  referrerpolicy="no-referrer"
  async
></script>
<script src="{{ 'range-slider.js' | asset_url }}" async></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
  referrerpolicy="no-referrer"
  async
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.0/js/jquery.nice-select.min.js"
  referrerpolicy="no-referrer"
  async
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script src="{{ 'purecounter.js' | asset_url }}" async></script>
<script src="{{ 'main.js' | asset_url }}" async></script>
<script src="{{ 'wishlist.js' | asset_url }}" async></script>
