<div class="back-to-top-wrapper">
  <button id="back_to_top" type="button" class="back-to-top-btn">
    <i class="fa-solid fa-angle-up"></i>
  </button>
</div>
<div class="offcanvas__area offcanvas__style-darkRed ">
  <div class="offcanvas__wrapper">
    <div class="offcanvas__close">
      <button class="offcanvas__close-btn offcanvas-close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="offcanvas__content">
      <div class="offcanvas__top mb-70 d-flex justify-content-center align-items-center">
        <div class="offcanvas__logo logo">
          <a href="/">
            <img src="{{ settings.logo | img_url: 'master' }}" alt="{{ shop.name }}" style="height: 60px;">
          </a>
        </div>
      </div>
      <div class="offcanvas__category pb-40">
        <div class="tp-category-mobile-menu"></div>
      </div>
      <div class="tp-main-menu-mobile fix mb-40"></div>
    </div>
  </div>
</div>
<div class="body-overlay"></div>
<div id="tp-bottom-menu-sticky" class="tp-mobile-menu d-lg-none">
  <div class="container">
    <div class="row row-cols-4">
      <div class="col">
        <div class="tp-mobile-item text-center">
          <a href="/collections" class="tp-mobile-item-btn">
            <i class="fa-solid fa-store"></i>
            <span>Store</span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="tp-mobile-item text-center">
          <button class="tp-mobile-item-btn tp-search-open-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Search</span>
          </button>
        </div>
      </div>
      <div class="col">
        <div class="tp-mobile-item text-center">
          <a href="wishlist.html" class="tp-mobile-item-btn">
            <i class="fa-regular fa-heart"></i>
            <span>Wishlist</span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="tp-mobile-item text-center">
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="tp-mobile-item-btn"
          >
            <i class="fa-regular fa-user"></i>
            <span class="">
              {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="tp-search-area tp-search-style-secondary">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="tp-search-form">
          <div class="tp-search-close text-center mb-20">
            <button class="tp-search-close-btn tp-search-close-btn"></button>
          </div>

          <form action="/search" method="get" role="search">
            <input class="search-input" type="search" name="q" id="search" placeholder="Search for Products...">
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="cartmini__area cartmini__style-darkRed ">
  <div class="cartmini__wrapper d-flex justify-content-between flex-column">
    <div class="cartmini__top-wrapper">
      <div class="cartmini__top p-relative">
        <div class="cartmini__top-title">
          <h4>Shopping cart</h4>
        </div>
        <div class="cartmini__close">
          <button type="button" class="cartmini__close-btn cartmini-close-btn">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>

      {% if cart.item_count > 0 %}
        <div class="cartmini__widget">
          {% for item in cart.items %}
            <div class="cartmini__widget-item" data-item-id="{{ item.id }}">
              <div class="cartmini__thumb">
                <a href="{{ item.product.url }}">
                  <img src="{{ item.image | img_url: 'small' }}" alt="Product" width="" height="">
                </a>
              </div>
              <div class="cartmini__content">
                <h5 class="cartmini__title">
                  <a href="{{ item.product.url }}">{{ item.product.title }}</a>
                </h5>
                <div class="cartmini__price-wrapper">
                  {%- if item.product.has_only_default_variant == false -%}
                    {%- for option in item.options_with_values -%}
                      <div class="product-option">
                        <dt>{{ option.name }}:</dt>
                        <dd>{{ option.value }}</dd>
                      </div>
                    {%- endfor -%}
                  {%- endif -%}
                </div>
                <div class="cartmini__price-wrapper">
                  <span class="cartmini__price">{{ item.product.price | money }}</span>
                  <span class="cartmini__quantity">x{{ item.quantity }}</span>
                </div>
              </div>
              <a href="#" class="cartmini__del" onclick="removeItem('{{ item.id }}')"
                ><i class="fa-solid fa-xmark"></i
              ></a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="cartmini__empty text-center">
          <h3>Your Cart is empty</h3>
          <a href="/" class="tp-btn">Go to Shop</a>
        </div>
      {% endif %}
    </div>
    {% if cart.item_count > 0 %}
      <div class="cartmini__checkout">
        <div class="cartmini__checkout-title mb-30">
          <h4>Subtotal:</h4>
          <span>{{ cart.total_price | money }}</span>
        </div>
        <div class="cartmini__checkout-btn">
          <a href="/cart" class="tp-btn mb-10 w-100"> view cart</a>
          {% comment %} <a href="checkout.html" class="tp-btn tp-btn-border w-100"> checkout</a> {% endcomment %}
          <button
            type="submit"
            id="checkout"
            class="cart__checkout-button button tp-btn tp-btn-border w-100"
            name="checkout"
            {% if cart == empty %}
              disabled
            {% endif %}
            form="cart"
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
          {%- if additional_checkout_buttons -%}
            <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {%- endif -%}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<header>
  <div class="tp-header-area tp-header-style-darkRed tp-header-height">
    <div class="tp-header-top-2 p-relative z-index-11 tp-header-top-border d-none d-md-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="tp-header-info d-flex align-items-center">
              <div class="tp-header-info-item">
                {% assign collection_handle = 'enjoy-flat-5-off' %}
                {% assign collection = collections[collection_handle] %}
                <a href="{{ collection.url }}"> {{ settings.Tagline }} | {{ collection.title }} </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tp-header-top-right tp-header-top-black d-flex align-items-center justify-content-end">
              <div class="tp-header-top-menu d-flex align-items-center justify-content-end">
                <div class="tp-header-top-menu-item tp-header-setting">
                  <span class="tp-header-setting-toggle" id="tp-header-setting-toggle">Setting</span>
                  <ul>
                    <li>
                      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
                        <span class="">
                          {%- liquid
                            if customer
                              echo 'customer.account_fallback' | t
                            else
                              echo 'customer.log_in' | t
                            endif
                          -%}
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="/pages/wishlist">Wishlist</a>
                    </li>
                    <li>
                      <a href="/cart">My Cart</a>
                    </li>
                    {% if customer %}
                      <li>
                        <a href="/account/logout">{{ 'customer.log_out' | t }}</a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="header-sticky" class="tp-header-bottom-2 tp-header-sticky">
      <div class="container">
        <div class="tp-mega-menu-wrapper p-relative">
          <div class="row align-items-center">
            <div class="col-xl-2 col-lg-5 col-md-5 col-sm-4 col-6">
              <div class="logo">
                <a href="/">
                  <img src="{{ settings.logo | img_url: 'master' }}" alt="{{ shop.name }}" style="height: 40px;">
                </a>
              </div>
            </div>
            <div class="col-xl-7 d-none d-xl-block">
              <div class="main-menu">
                <nav class="tp-main-menu-content">
                  <ul>
                    {% assign counter = 0 %}
                    {% for link in linklists['new-menu'].links %}
                      {% if link.levels > 1 %}
                        <li class="has-dropdown has-mega-menu">
                          <a href="javascript:void(0);">{{ link.title }}</a>
                          <div class="home-menu tp-submenu tp-mega-menu">
                            <div class="row row-cols-1 row-cols-lg-4 row-cols-xl-5">
                              {% for sublink in link.links %}
                                <div class="col">
                                  <div class="shop-mega-menu-list">
                                    <a href="javascript:void(0);" class="shop-mega-menu-title">{{- sublink.title }}</a>
                                    <ul>
                                      {% for subsublink in sublink.links %}
                                        <li>
                                          <a href="{{ subsublink.url }}">{{ subsublink.title }}</a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        </li>
                      {% endif %}
                      {% if link.levels == 1 %}
                        <li class="has-dropdown">
                          <a href="javascript:void(0);">{{ link.title }}</a>
                          <ul class="tp-submenu">
                            {% for sublink in link.links %}
                              <li>
                                <a href="{{- sublink.url }}">{{- sublink.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xl-3 col-lg-7 col-md-7 col-sm-8 col-6">
              <div class="tp-header-bottom-right d-flex align-items-center justify-content-end pl-30">
                <div class="tp-header-search-2 d-none d-sm-block">
                  <form action="/search" method="get" role="search">
                    <input class="search-input" type="search" name="q" id="search" placeholder="Search for Products...">
                    <button type="submit">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                  </form>
                </div>
                <div class="tp-header-action d-flex align-items-center ml-30">
                  <div class="tp-header-action-item d-none d-lg-block">
                    <a href="/pages/wishlist" class="tp-header-action-btn">
                      <i class="fa-regular fa-heart"></i>
                      <span class="tp-header-action-badge wishlist_count">0</span>
                      {% comment %} <div class="wishlist_count">Wishlist (0)</div> {% endcomment %}
                    </a>
                  </div>
                  <div class="tp-header-action-item">
                    <button class="tp-header-action-btn cartmini-open-btn">
                      <i class="fa-solid fa-cart-shopping"></i>

                      {%- if cart != empty -%}
                        <span class="tp-header-action-badge">
                          {%- if cart.item_count < 100 -%}
                            <span aria-hidden="true" class="m-cart-count-bubble m-cart-count">
                              {{- cart.item_count -}}
                            </span>
                          {%- endif -%}
                        </span>
                      {%- else -%}
                        <span class="tp-header-action-badge">
                          <span aria-hidden="true">0</span>
                        </span>
                      {%- endif -%}
                    </button>
                  </div>

                  <div class="tp-header-action-item tp-header-hamburger mr-20 d-xl-none">
                    <button type="button" class="tp-offcanvas-open-btn">
                      <i class="fa-solid fa-bars-staggered"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  function removeItem(itemId) {
    fetch('/cart/update.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-Requested-With': 'XMLHttpRequest',
      },
      body: JSON.stringify({
        updates: {
          [itemId]: 0, // Set quantity to 0 to remove the item
        },
      }),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error('Failed to update cart');
        }
        return response.json();
      })
      .then((data) => {
        console.log('Item removed:', data);

        // Fetch the updated cart details
        return fetch('/cart.js', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
          },
        });
      })
      .then((response) => {
        if (!response.ok) {
          throw new Error('Failed to fetch cart details');
        }
        return response.json();
      })
      .then((cart) => {
        // Print all cart items with additional details
        console.log('Cart items:');
        cart.items.forEach((item) => {
          console.log(`Title: ${item.title}`);
          console.log(`Quantity: ${item.quantity}`);
          console.log(`Price: ${(item.price / 100).toFixed(2)} ${cart.currency}`); // Shopify price is in cents
          console.log(`Image: ${item.image}`);
          console.log(`Product URL: ${item.url}`);
          console.log('-------------------------');
        });

        // Update the cart display or perform any necessary actions
        window.location.reload();
      })
      .catch((error) => console.error('Error:', error));
  }
</script>
