<section class="tp-instagram-area">
  <div class="container-fluid pl-20 pr-20">
    <div class="text-center">
      <h1>Video part will integrate here!!</h1>
    </div>
  </div>
</section>
<div
  class="modal fade tp-product-modal tp-product-modal-styleDarkRed"
  id="producQuickViewModal"
  tabindex="-1"
  aria-labelledby="producQuickViewModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="tp-product-modal-content d-lg-flex align-items-start">
        <button
          type="button"
          class="tp-product-modal-close-btn"
          data-bs-toggle="modal"
          data-bs-target="#producQuickViewModal"
        >
          <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="tp-product-details-thumb-wrapper tp-tab d-sm-flex">
          <nav>
            <div class="nav nav-tabs flex-sm-column " id="productDetailsNavThumb" role="tablist">
              <button
                class="nav-link active"
                id="nav-1-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-1"
                type="button"
                role="tab"
                aria-controls="nav-1"
                aria-selected="true"
              >
                <img src="{{ 'product-details-nav-1.jpg' | asset_url }}" alt="">
              </button>
              <button
                class="nav-link"
                id="nav-2-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-2"
                type="button"
                role="tab"
                aria-controls="nav-2"
                aria-selected="false"
              >
                <img src="{{ 'product-details-nav-1.jpg' | asset_url }}" alt="">
              </button>
              <button
                class="nav-link"
                id="nav-3-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-3"
                type="button"
                role="tab"
                aria-controls="nav-3"
                aria-selected="false"
              >
                <img src="{{ 'product-details-nav-1.jpg' | asset_url }}" alt="">
              </button>
              <button
                class="nav-link"
                id="nav-4-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-4"
                type="button"
                role="tab"
                aria-controls="nav-4"
                aria-selected="false"
              >
                <img src="{{ 'product-details-nav-1.jpg' | asset_url }}" alt="">
              </button>
            </div>
          </nav>
          <div class="tab-content m-img" id="productDetailsNavContent">
            <div
              class="tab-pane fade show active"
              id="nav-1"
              role="tabpanel"
              aria-labelledby="nav-1-tab"
              tabindex="0"
            >
              <div class="tp-product-details-nav-main-thumb">
                <img src="{{ 'product-details-main-1.jpg' | asset_url }}" alt="">
              </div>
            </div>
            <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab" tabindex="0">
              <div class="tp-product-details-nav-main-thumb">
                <img src="{{ 'product-details-main-1.jpg' | asset_url }}" alt="">
              </div>
            </div>
            <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab" tabindex="0">
              <div class="tp-product-details-nav-main-thumb">
                <img src="{{ 'product-details-main-1.jpg' | asset_url }}" alt="">
              </div>
            </div>
            <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab" tabindex="0">
              <div class="tp-product-details-nav-main-thumb">
                <img src="{{ 'product-details-main-1.jpg' | asset_url }}" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tp-product-details-wrapper">
          <div class="tp-product-details-category">
            <span>Shirt, Women</span>
          </div>
          <h3 class="tp-product-details-title">Brown Gown for Women</h3>
          <div class="tp-product-details-inventory d-flex align-items-center mb-10">
            <div class="tp-product-details-stock mb-10">
              <span>In Stock</span>
            </div>
            <div class="tp-product-details-rating-wrapper d-flex align-items-center mb-10">
              <div class="tp-product-details-rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
              </div>
              <div class="tp-product-details-reviews">
                <span>(36 Reviews)</span>
              </div>
            </div>
          </div>
          <p>
            A Screen Everyone Will Love: Whether your family is streaming or video chatting with friends tablet A8...
            <span>See more</span>
          </p>
          <div class="tp-product-details-price-wrapper mb-20">
            <span class="tp-product-details-price old-price">$320.00</span>
            <span class="tp-product-details-price new-price">$236.00</span>
          </div>
          <div class="tp-product-details-variation">
            <div class="tp-product-details-variation-item">
              <h4 class="tp-product-details-variation-title">Color :</h4>
              <div class="tp-product-details-variation-list">
                <button type="button" class="color tp-color-variation-btn">
                  <span data-bg-color="#F8B655"></span>
                  <span class="tp-color-variation-tootltip">Yellow</span>
                </button>
                <button type="button" class="color tp-color-variation-btn active">
                  <span data-bg-color="#CBCBCB"></span>
                  <span class="tp-color-variation-tootltip">Gray</span>
                </button>
                <button type="button" class="color tp-color-variation-btn">
                  <span data-bg-color="#494E52"></span>
                  <span class="tp-color-variation-tootltip">Black</span>
                </button>
                <button type="button" class="color tp-color-variation-btn">
                  <span data-bg-color="#B4505A"></span>
                  <span class="tp-color-variation-tootltip">Brown</span>
                </button>
              </div>
            </div>
          </div>
          <div class="tp-product-details-action-wrapper">
            <h3 class="tp-product-details-action-title">Quantity</h3>
            <div class="tp-product-details-action-item-wrapper d-sm-flex align-items-center">
              <div class="tp-product-details-quantity">
                <div class="tp-product-quantity mb-15 mr-15">
                  <span class="tp-cart-minus">
                    <i class="fa-solid fa-minus"></i>
                  </span>
                  <input class="tp-cart-input" type="text" value="1">
                  <span class="tp-cart-plus">
                    <i class="fa-solid fa-plus"></i>
                  </span>
                </div>
              </div>
              <div class="tp-product-details-add-to-cart mb-15 w-100">
                <button class="tp-product-details-add-to-cart-btn w-100">Add To Cart</button>
              </div>
            </div>
          </div>
          <div class="tp-product-details-action-sm">
            <button type="button" class="tp-product-details-action-sm-btn">
              <i class="fa-regular fa-heart"></i>
              Add Wishlist
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
